FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
# GOOGLE_APPLICATION_CREDENTIALS=./serviceAccountKey.json
# FIREBASE_DATABASE_URL=https://your-project-id-default-rtdb.firebaseio.com
PORT=3000
NODE_ENV=development
